* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.main {
    background-color: blueviolet;
}

/*-----nav-----*/

.nav {
    background-color: #000000;
    height: 70px;
    
}

.tabs-inf {
    background-color: darkgray;
}

.why {
    background-color: darkred;
}

.nav h3 {
    height: 31px;
    width: 68px;
    display: inline-block;
    padding: 20px 0px 19px 110px;
    text-transform: uppercase;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.nav-link {
    display: block;
    float: right;
    height: 20px;
    padding: 25px 108px 25px 0px;
    
}

.nav-link li {
    display: inline-block;
    margin-right: 48px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.7;
}

.nav-link li:last-child {
    margin: 0px;
}

/*-----header-----*/

.header {
    height: 600px;
    background: url(../img/background-sity.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-inf {
    display: inline-block;
    margin: 110px 265px 0px 110px;
}

.title {
    display: inline-block;
    margin-bottom: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-subtitle {
    display: block;
    height: 99px;
    width: 544px;
    margin-bottom: 32px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.header hr {
    width: 64px;
    border: 1px solid #FFFFFF;
    margin-bottom: 39px;
}

.download-description {
    display: inline-block;
    margin-bottom: 39px;
    height: 38px;
    width: 282px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.axit-download {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #FFFFFF;
    border-radius: 0;
    padding: 11px 27px;
    margin-bottom: 101px;
    background-color: transparent;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.reg-form {
    background: #FFFFFF;
    display: inline-block;
    border-radius: 8px;
    display: inline-block;
    padding: 0;
    width: 370px;
    height: 370px;

}

.reg-form h4 {
    padding: 18px 0px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

.reg-form hr {
    width: 252px;
    margin: 0px 59px;
    border: 1px solid #BDBDBD;
}

.reg-form p {
    display: inline-block;
    margin: 0px 55px;
    padding: 19px 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

.reg-button {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0px 0px 8px 8px;
    padding: 17px 144px;
    margin-top: 61px;
    background: #EC7979;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.social-inf {
    display: inline-block;
    width: 365px;
    margin-right: 129px;
}

.aside {
    background: #F8EFEF;
    height: 110px;
    padding-left: 110px;
}

.aside img {
    display: inline-block;
    margin-bottom: 14px;
}

.social-inf h4 {
    padding-top: 14px;
    margin-bottom: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

.social-inf p {
    display: inline-block;
    padding-bottom: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}

/*-----tabs-inf-----*/

.tabs-inf {
    height: 600px;
    padding: 0px 117px 0px 110px;
}

.tab-cub {
    background-color: darkkhaki;
    display: inline-block;
    margin: 125px 118px 125px 0px;
}

.tab-cub div {
    background-color: greenyellow;
    padding: 45px 35px;
    margin-bottom: 10px;
}

.tab-cub div:last-child {
    margin: 0px;
}

.tab-description {
    background-color: lightsalmon;
    display: inline-block;
    width: 572px;
    margin: 126px 50px 125px 0px;
}

.tab-description h4 {
    margin-bottom: 54px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}

.tab-description p {
    background-color: lightseagreen;
    display: inline-block;
    margin-bottom: 19px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #86878B;
}

.tabs-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0px;
    padding: 11px 27px;
    margin-top: 70px;
    background: #EC7979;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.sity_icon {
    display: inline-block;
    margin: 110px 0px 247px 0px;
}

.why h2 {
    background-color: lightseagreen;
}

.why h6 {
    background-color: lightslategrey;
}

.card-lamp {
    background-color: linen;
}